
* {
	box-sizing: border-box;
	color:black;
	font-family: 'MuseoModerno', sans-serif;
}

.container {
	max-width: 1270px;
	margin: 0px auto;
}


@import "./blocks/logo";
@import "./blocks/nav";
@import "./blocks/header";